.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 100%;
}

@media (max-width: 768px) {
  .container{
    font-size: 96%;
  }
}

@media (max-width: 480px) {
  .container{
    font-size: 92%;
  }
}

.contentTimer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  max-width: 21.87em;
  width: 100%;
  height: 21.87em;
  object-fit: contain;
  position: relative;
}

.timer {
  position: absolute;
  font: 5em italic sans-serif;
  text-align: center;

  z-index: 100;
  background-color: transparent;
}

.areaBtn {
  margin-top: 1rem;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn {
  width: 6.25em;
  border-radius: 50%;
  background: whitesmoke;

  padding: 2em 0.5em;
  text-align: center;
}

.btn:hover {
  filter: brightness(0.95);
  transition: all 0.4s;
}
